@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "tailwindcss";

/* Default body font (optional override) */
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  /* background: #000; */
}
